html {
  background-color: LightBlue;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.tweets {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.tweet1 {
  border:1px solid black;
  padding: 10px;
}

.tweet2 {
  border:1px solid black;
  padding: 10px;
}

.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
}

.success {background-color: #4CAF50;}
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;}
.info:hover {background: #0b7dda;}

.danger {background-color: #f44336;}
.danger:hover {background: #da190b;}
